*{
	background:#E5E5E5;
	margin: 0;
	padding: 0;

}

header{
	width: 100%;
	height: auto;
}

.logo1{
	margin: 15px 0 5px 0;
	padding: 0;
}

main{
	width: 100%;
	height: 550px;
	display: flex;
	justify-content: space-between;
}

main section{
	height: 100%;
}

.textarea_encriptador{
	margin: 0 30px;
	width: 65%;
	height:100%;
}

.textarea_encriptador h6{
	text-align: center;
	margin: 10px 0;
}

.textarea{
	height: 75%;
	width: 75%;
	border: 0;
	resize: none;
	display: block;
	align-content: center;
	margin: 5% auto 0 auto;
	font-size: 20px;
	text-align: center;
	border-radius: 20px;
	outline: 0;
}

.botones{
	text-align: center;
}

.botones button{
	width: 30%;
	height: 40px;
	padding: 0 20px 0 20px;
	margin: 0 10px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.btn-encriptar{
	background-color: red;
	color: white;
}

.btn-encriptar:hover {
	color: black;
	background: red;
}

.btn-desencriptar{
	background: white;
}

.btn-desencriptar:hover {
	background: yellow;
}


.result{
	margin: 0 30px;
	width: 25%;
	height: 100%;
	border-radius: 20px;
}


.mensaje{
	width : 80%;
	height: 65%;
	display: block;
	margin: 20px auto 0 auto;
	border: 0;
	outline: 0;
	padding-top: 10px;
	text-align: center;
	border-radius:20px;
	resize: none;
	background: url(imagenes/Muñeco.png) center center no-repeat;
}

.mensaje::placeholder{
	padding: 10px 0;
}



.img_result{
	height: 60%;
}

.img_result img{
	width: 70%;
	padding: 30% 0 0 15%;
}

.advertencia_result{
	text-align: center;
	display: block;
}

.advertencia2{
	padding: 10% 0 10px 0;
	font-size: 12px;
}

.btn-copiar{
	display:block;
	margin: 10px auto;
	width: 30%;
	height: 40px;
	padding: 0 20px 0 20px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	background: white;
	
}

footer{
	width: 100%;
	height: 10%;
	font-size: 20px;
	text-align: center;
	color: black;
}
